/*
@package HOSPITAL-CMS

This is plugin front stylesheet defult to load if theme does not have file in
/medsites/styles/front.css

classes and descriptions
1. .medsites-archive-post This for box produced in archive of post and authors

2.  .medsites-outer-wraper This is outer wraper including title inside wih media query
*/
@media only screen
and (max-width : 320px) {
  .medsites-outer-wraper {
    width: 304px;
    margin:0 auto;
   
  }
  

}

@media only screen
and (min-width : 321px)
and (max-width : 620px) {
  .medsites-outer-wraper {
    width: 304px;
    margin:0 auto;
   
  }
  

}

@media only screen
and (min-width : 621px)
and (max-width : 920px) {
  .medsites-outer-wraper {
    width: 608px;
    margin:0 auto;
   
  }
  

}


@media only screen
and (min-width : 921px)
 {
  .medsites-outer-wraper {
    width: 912px;
    margin:0 auto;
   
  }
  

}






.medsites-archive-post{
  width:300px;
  padding:4px 4px 4px 4px;
  border:1px solid black;
  float:left;
  height: 360px;
  border: 1px solid black;
  margin: 2px;
  /* box-sizing: border-box; */
  overflow: hidden;
  border-radius: 2%;
}